# Ignore Docker-related files
Dockerfile
Dockerfile-python

# Ignore dependency folders
node_modules
__pycache__

# Ignore log files and temp files
npm-debug.log
*.log

# Ignore application-specific files
app.py

# Ignore Infrastructure as Code (IaC) directories
terraform/
kustomize/

# Ignore Python virtual environments
venv/
.env

# Ignore system and IDE-specific files
*.swp
*.swo
.DS_Store
.idea/
.vscode/
