apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app-prod

resources:
- ../../base

patchesStrategicMerge:
- deploy-prod.yaml
- svc-prod.yaml
- ingress-prod.yaml

configMapGenerator:
- name: app-prod-config
  literals:
  - ENV=production
  - LOG_LEVEL=warn
  - PORT=3000
  options:
    disableNameSuffixHash: false

secretGenerator:
- name: app-prod-secrets
  envs:
  - secrets.env
  options:
    disableNameSuffixHash: false

replicas:
- name: web-deployment
  count: 3

images:
- name: aphraz/node-app
  newTag: production

commonLabels:
  environment: production
  tier: application
